extends ../layout

block angularVariables
    - var angularApp = 'playGame'
block jsScripts
    script(src='/bower_components/jquery-migrate/jquery-migrate.min.js')
    script(src='/js/colResizable-1.3.min.js')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='/modules/eg.socket.js')
    script(src='/vendor/angular-sanitize/angular-sanitize.min.js')
    script(src='/modules/eg.sortableCards.js')
    script(src='/modules/eg.jiraREST.js')
    script(src='/modules/eg.routes.js')
    script(src='/modules/angular.sortable.js')
    script(src='/modules/eg.gameSocket.js')
    script(src='/modules/eg.slider.js')
    script(src='/modules/eg.gamePlay.js')

block cssFiles
    link(rel="stylesheet", href="/css/style_game_3.css")
    link(rel="stylesheet", href="/css/jquery-ui.min.css")

block gamePlay
    div(ng-controller="playGameController", ng-init="init('#{id}', #{isGameOwner}, #{isUserExist}, '#{avatar}')", id="gameController")
        h4(ng-show="gameFinished").text-warning.text-center Game is finished &nbsp
            a(ng-show="#{isGameOwner}", href="/lobby") Return to the Lobby
        .navbar.navbar-default(ng-show="#{isGameOwner}")#gameOwnerControls
            .container
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(ng-hide="gameFinished"): button(type="button", ng-click="gameSocket.emitFinishGame(game)").btn.btn-xs.btn-danger Finish
                    | &nbsp
                    a(ng-hide="gameFinished", type="button", href="/game/prepare/#{id}").btn.btn-xs.btn-info Edit
                    | &nbsp
                    a(ng-hide="gameFinished", type="button", ng-click="gameSocket.emitBusyUI()").btn.btn-xs.btn-warning Lock UI
                    | &nbsp
                    a(ng-hide="gameFinished", type="button", ng-click="gameSocket.emitFreeUI()").btn.btn-xs.btn-warning Unlock UI
                        //li: button(type="button", ng-click="isExportFormOpen = !isExportFormOpen").btn.btn-xs.btn-warning Export
                //table(ng-show="isExportFormOpen").table.table-condensed.table-bordered.table-exports
                //    thead
                //        tr
                //            th
                //            th.col-md-1 estimation
                //    tbody(ng-model="game.cards")
                //        tr(ng-repeat="card in game.cards")
                //            td: input(type="text", value="{{ card.key }}: {{ card.title }}", disabled).form-control.input-sm
                //            td: input(type="text", ng-model="card.estimate").form-control.input-sm
                //        tr
                //            //td: input(type="text", ng-model="exportField", placeholder="Choose a field to export").form-control.input-sm
                //            td
                //            td(ng-hide="gameExported"): button(btn-label, type="button", ng-click="sendToJira($event)").btn.btn-sm.btn-success Send to Jira
                //            td(ng-show="gameExported") Exported
        .navbar.navbar-default#gameParticipants
            .container
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        //li(ng-repeat="player in game.players track by $index", ng-model="game.players", ng-if="player.isConnected"): img(ng-src="{{ player.avatar }}", title="{{ player.name }}").img-thumbnail
                        li(ng-repeat="player in game.players track by $index", ng-model="game.players", ng-if="player.isConnected"): button(type="button", title="{{ player.name }}", alt="{{ player.name }}").btn.btn-default {{ player.name|limitTo:5 }}
        #wrap
            #cards-full
                div(ui-sortable="cardsRowOptions", ng-model="game.cardsRow")#cards-row
                    div(ng-repeat="card in game.cardsRow track by $index", data-id='{{ card.key }}', ng-class="{'reference': card.isReference}", ng-style="{width:'#{cardWidth}px'}").cards-stack
                        span.card-container
                            span(ng-class="card.typeIcon").icon-type
                            span.reporter-label {{ card.reporter }}
                            a(name='{{ card._id }}', ng-bind-html="card.key | wbr")
                div(ui-sortable="cardsDeckOptions", ng-model="game.cardsDeck", init-cards)#cards-holder
                    div(ng-repeat="card in game.cardsDeck track by $index", data-id='{{ card.key }}', ng-style="getCardPositionStyle($index)").cards-stack
                        span.card-container
                            span(ng-class="card.typeIcon").icon-type
                            span.reporter-label {{ card.reporter }}
                            a(name='{{ card._id }}', ng-bind-html="card.key | wbr")
                #slider-holder
                    #slider
                        table#range(width='100%', cellspacing='0', cellpadding='0', resizable-columns, ng-model='game.resizableColumns')
                            tr
                                td(ng-repeat='column in game.resizableColumns track by $index', style='width: {{ column.width }}')
                div(ng-hide='game.cardsDeck.length').cards-buttons
                div(ng-show="game.cardsDeck.length").cards-counter
                    p {{ game.cardsDeck.length }} / {{ allCardsContainer.length }}
            #description-holder
                div(ng-repeat="card in allCardsContainer track by $index", id='{{ card._id }}', ng-class="{current: $index == 1}")
                    h2 {{ card.key }} - {{ card.title }}
                    p
                     a(href='{{ card.link }}', target='_blank') {{ card.link }}
                    p(ng-bind-html="card.description")